.skill-check {
  background-color: #FFFAFA;
  padding: 30px 50px;
  margin: 20px auto;
  width: 70%;
  min-width: 970px;
  overflow: scroll;
  &__title {
    font-size: 30px;
  }
  &__field {
    &--date {
      font-size: 20px;
      padding-top: 10px;
    }
    &--name {
      font-size: 30px;
      padding-top: 20px;
    }
  }
}

.form_label {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.form_radio_btn {
  cursor: pointer;
  margin: 0 auto;
}

.skill-check__label,
.skill-check__radio-btn {
  height: 40px;
  width: 200px;
  text-align: center;
}

.skill-check__standard {
  padding: 5px 3px;
  font-size: 12px;
  height: 50px;
}

.skill-check__table {
  background-color: white;
}

.skill_submit {
  margin-top: 30px;
  text-align: center;
  &__btn {
    cursor: pointer;
    background-color: #2C7CFF;
    color: white;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    font-size: 30px;
    box-shadow: 5px 5px 5px #666666;
    transition: 0.2s;
    
  }
  &__btn:active {
    transform: translateY(3px);
  }
}