* {
  color: #473838;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.header {
  min-width: 1000px;
  background-color: #BAD3FF;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px 80px 10px 40px;
  &__title {
    min-width: 680px;
    font-size: 40px;
  }
  &__info {
    min-width: 280px;
    padding-top: 5px;
    display: flex;
    line-height: 50px;
    font-size: 20px;
    &--user,
    &--sign_up {
      padding-right: 80px;
      text-decoration: none;
    }
    &--log {
      padding-right: 40px;
      text-decoration: none;
    }
  }
}

.wrapper {
  height: calc(100vh - 80px);
  display: flex;
  background-image: url('kings2.png');
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-size: 16%;
}
.side-data {
  background-color: #FFFAFA;
  width: 40%;
  min-width: 666px;
  padding: 10px;
  &__info {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    &--date {
      min-width: 241px;
      font-size: 30px;
      line-height: 40px;
    }
    &__edit {
      line-height: 40px;
      .button {
        font-size: 30px;
        padding: 20px;
      }
      &--top {
        text-decoration: none;
      }
    }
  }
  &__graph {
    min-height: 400px;
    height: 400px;
    &--sum {
      font-size: 36px;
      padding-left: 20px;
    }
  }
  &__comment {
    height: 200px;
    padding: 5px 10px;
    border-style: inset;
    overflow: scroll;
    &__box {
      height: 90px;
      width: 100%;
      display: flex;
      border: 1px solid #CCCCCC;
      margin-bottom: 5px;
      overflow: scroll;
      &--main {
        width: 80%;
        font-size: 14px;
        padding: 2px 4px;
      }
      &__info{
        width: 20%;
        font-size: 12px;
        padding-top: 10px;
        padding-left: 12px;
        &--name {
        }
        &--date {
        }
      }
    }
  }
  &__form {
    padding: 10px 5px;
    position: relative;
    &--message {
      width: 85%;
      padding: 4px 0 20px 5px;
    }
    &--btn {
      position: absolute;
      right: 15px;
      top: 10px;
      display: inline;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      padding: 18px;
      background-color: #2C7CFF;
      color: white;
      line-height: 60px;
      box-shadow: 2px 2px 3px #666666;
      transition: 0.2s;
    }
    &--btn:active {
      transform: translateY(3px);
    }
  }
}

.main-data {
  background-image: url('SM01.jpg');
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  background-size: cover;
  width: 60%;
  padding: 10px;
  overflow: scroll;
  &__table {
    margin: 0 auto;
    .list {
      .skill-name {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        width: 200px;
        height: 60px;
      }
      .score-name {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 100px;
      }
      .standard-name {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 0 250px;
      }
      .skill {
        font-size: 18px;
        text-align: center;
        padding: 30px 5px;
      }
      .score {
        font-size: 30px;
        text-align: center;
      }
      .standard {
        padding: 5px;
        height: 130px;
      }
    }
  }
}

canvas {
  position: relative;
}

ul.menu {
  width: 350px;
}

ul.menu li {
  float: left;
  position: relative;
  margin: 0 0 0 1px;
  text-align: center;
  width: 100%;
  background: #BAD3FF;
  display: block;
}

ul.sub {
  display: none;
  position: absolute;
  margin-left: -6px;
  padding: 0;
  width: 300px;
}

ul.sub li a {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  padding: 0 10px;
  padding-left: 20px;
  display: block;
  text-decoration: none;
}

ul.sub li a:hover {
  background: #FF9872;
  text-decoration: none;
}
